steam_key = ''
mysql_host = 'sbi-mysql'
mysql_database = 'steam_bi'
mysql_user = 'root'
mysql_password = 'steam_bi'
mysql_connect_timeout = 180
redis_host= 'sbi-redis'
rabbitmq_host= 'sbi-rabbitmq'
debug = True